@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-terminal-black text-terminal-green font-mono antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-terminal-black;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded-full;
}